*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dr-dark-text: #000000;
    --dr-light-text: #FFFFFF;
    --dr-secondary-background: #B4D0E7;
    --dr-button: #0061FF;
    --dr-button-unchecked: #d0d0d3;
    --dr-link: #0000EE;
    --dr-text-freetrial: #61082B;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--dr-dark-text);
}

header{
    position: sticky;
    top: 0;
    width: 100%;
}

/*common*/
h3{
    padding-bottom: 1rem;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.button_blue{
    background-color: var(--dr-button);
    border-style: none;
    color: var(--dr-light-text);
}

.button_white{
    background-color: var(--dr-light-text);
    border-color: 1px solid var(--dr-dark-text);
}

.container{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.jumbo,
.free_trial{
    background-color: var(--dr-secondary-background);
}

.col-3{
    width: calc((100% / 12)* 3);
}

.col-4{
    width: calc((100% / 12)* 4);
}

.col-5{
    width: calc((100% / 12)* 5);
}

.col-7{
    width: calc((100% / 12)* 7);
}


.col-8{
    width: calc((100% / 12)* 8);
}


/*#region header*/
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--dr-light-text);
}
.menu a{
    text-decoration: none;
    color: var(--dr-dark-text);
    padding: 0 20px ;
}

.menu a:hover{
    border-bottom: 1px solid black;
}
/*#endregion header*/

/*#region main*/
/*jumbo*/
.jumbo_container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.jumbo_container h1{
    font-size: 4.5rem;
    font-weight: 800;
    padding: 3.5rem 0;
}

.jumbo_contents{
    display: flex;
}

.jumbo_contents button{
    margin: 1.5rem 0 ;
}

.fa-arrow-down{
    width: 40px;
}

.jumbo_contents_img img{
    width: 100%;
    margin-bottom: -4rem;
}

/*plans*/
.plans{
    padding: 4.5rem 0;
}
.plans h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 4.5rem 0;
}

.plans_billing{
    display: flex;
}

.monthly_bill{
    margin-right: 2.5rem;
}

.fa-circle-dot{
    color: var(--dr-button);
}

.fa-circle{
    color: var(--dr-button-unchecked)
}

/*partner*/
.partner{
    display: flex;
    padding: 4.5rem 0;
}

.partner_img img{
    width: 100%;
}

.partner_contents{
    padding: 4rem;
}

.partner_contents button{
    margin: 2rem 0;
}

/*operations*/
.operations{
    padding: 4.5rem 0;
}
.operations .row{
    display: flex;
    padding: 4.5rem 0 0;
    justify-content: space-between;
}

.operations h2{
    font-size: 2rem;
}

.operations .col-4{
    padding-right: 2.5rem;
}
.operations img{
    width: 100%;
}




/*#endregion main*/



