*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dr-dark-text: #000000;
    --dr-light-text: #FFFFFF;
    --dr-secondary-background: #B4D0E7;
    --dr-button: #0061FF;
    --dr-button-unchecked: #d0d0d3;
    --dr-link: #0000EE;
    --dr-text-freetrial: #61082B;
    --dr-team-left-four: #0093CE;
    --dr-team-right-three: #0D2481;
    --dr-team-left-one: #A2D39B;
    --dr-team-left-one-light: #D1E9CD;
    --dr-team-left-three: #D5001F;
    --dr-team-big: #D9D9D9;
    --dr-team-right-four: #FFD936;

}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--dr-dark-text);
}

header{
    position: sticky;
    top: 0;
    width: 100%;
}

/*common*/
h2{
    font-size: 2rem;
}
h3{
    padding-bottom: 1rem;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.button_blue{
    background-color: var(--dr-button);
    border-style: none;
    color: var(--dr-light-text);
}

.button_white{
    background-color: var(--dr-light-text);
    border-color: 1px solid var(--dr-dark-text);
}

.container{
    width: 60%;
    max-width: 998px;
    margin: 0 auto;
    padding: 4.5rem 0;
}

.jumbo,
.free_trial{
    background-color: var(--dr-secondary-background);
}

.col-3{
    width: calc((100% / 12)* 3);
}

.col-4{
    width: calc((100% / 12)* 4);
}

.col-5{
    width: calc((100% / 12)* 5);
}

.col-6{
    width: calc((100% / 12)* 6);
}

.col-7{
    width: calc((100% / 12)* 7);
}


.col-8{
    width: calc((100% / 12)* 8);
}

.col-12{
    width: calc((100% / 12)*12);
}

.jumbo_container,
.footer_container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
}


/*#region header*/
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--dr-light-text);
}
.menu a{
    text-decoration: none;
    color: var(--dr-dark-text);
    padding: 0 20px ;
}

.menu a:hover{
    border-bottom: 1px solid black;
}
/*#endregion header*/

/*#region main*/
/*jumbo*/
.jumbo_container h1{
    font-size: 4.5rem;
    font-weight: 800;
    padding: 3.5rem 0;
}

.jumbo_contents{
    display: flex;
}

.jumbo_contents button{
    margin: 1.5rem 0 ;
}

.jumbo_contents_text{
    position: relative;
}
.fa-arrow-down{
    font-size: 4rem;
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.jumbo_contents_img img{
    width: 100%;
    margin-bottom: -4rem;
}

/*plans*/
.plans h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 4.5rem 0;
}

.plans_billing{
    display: flex;
}

.monthly_bill{
    margin-right: 2.5rem;
}

.fa-circle-dot{
    color: var(--dr-button);
}

.fa-circle{
    color: var(--dr-button-unchecked)
}

.plans .plans_row{
    display: flex;
    padding: 3rem 0;
    justify-content: space-between;
}

.plans_row .col-4,
.plans_row .col-12{
    border: 1px solid var(--dr-dark-text); 
}

.plans_row .team{
    margin: 0 2rem;
}
.plans_row .head{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--dr-dark-text);
}

.plans_row .content{
    padding: 2rem 1.5rem;
}

.plans_row ul{
    padding-top: 2rem;
}
.plans_row li{
    display: flex;
    list-style: none;
    padding: 1rem 0;
}

.button_centered{
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    
}

.plans_row hr{
    width: 25%;
    margin: 2.5rem 0;
}

.fa-check{
    color: var(--dr-button);
}

.plans_row i{
    padding-right: 0.25rem;
}

.plans_row p{
    padding-top: 0.5rem;
}

.team_bottom_contents{
    display: flex;
    position: relative;
}

.team_bottom_contents .col-4{
    border-style: none;
}

.content_right button{
    position: absolute;
    top: 0;
    right: 2rem;  
}

/*partner*/
.partner{
    display: flex;
}

.partner_img img{
    width: 100%;
}

.partner_contents{
    padding: 4rem;
}

.partner_contents button{
    margin: 2rem 0;
}

/*operations*/
.operations .row{
    display: flex;
    padding: 4.5rem 0 0;
    justify-content: space-between;
}

.operations .col-4{
    padding-right: 2.5rem;
}
.operations img{
    width: 100%;
}

/*find out more*/
.find_out_more h2{
    padding-bottom: 4rem;
}

.link_blue{
    color: var(--dr-link);
}

/*free trial*/
.start_trial{
    display: flex;
    justify-content: space-between;
}

.start_trial_left h2{
    color: var(--dr-text-freetrial);
}

.start_trial_right .button_white{
    border-style: none;
    padding: 0.5rem 3rem;
}

/*faqs*/
.faqs h2{
    padding: 4rem 0;
}

.faqs{
    padding-bottom: 9.5rem;
}

.faq{
    padding: 2.5rem 0;
}

.faq .fa-angle-down{
    padding: 0 2.5rem;
    float: right;
}
/*#endregion main*/

/*#region footer*/
footer{
    background-color: var(--dr-dark-text);
    color: var(--dr-light-text);
}

.footer_row{
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
}

.footer_row li{
    list-style: none;
    padding: 0.5rem 0;
}

.footer_container hr{
    width: 20%;
    color: var(--dr-light-text);
}

.languages{
    padding: 3rem 0;
}
.languages select{
    background-color: var(--dr-dark-text);
    border-style: none;
}

.languages i,
.languages a{
    color: var(--dr-button-unchecked);
    text-decoration: none;
}




/*#region footer*/



